In [2]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import datasets
from scipy.stats import randint
from sklearn.experimental import enable_halving_search_cv  # noqa
from sklearn.model_selection import HalvingRandomSearchCV
from sklearn.ensemble import RandomForestClassifier
import sklearn
sklearn.__version__
%matplotlib inline
from matplotlib import pyplot as plt
#from sklearn.tree

In [3]:
columns = ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num']
df = pd.read_csv('../cleaned_processed.cleveland.data',header=None,names = columns)

# you could read .txt file using Pandas read_csv
df.head() # Display first five rows of the dataset 
#df.columns
feature = columns[:13]
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,54.542088,0.676768,3.158249,131.693603,247.350168,0.144781,0.996633,149.599327,0.326599,1.055556,1.602694,0.676768,4.730640,0.461279
std,9.049736,0.468500,0.964859,17.762806,51.997583,0.352474,0.994914,22.941562,0.469761,1.166123,0.618187,0.938965,1.938629,0.499340
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,243.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,3.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,276.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,7.000000,1.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,7.000000,1.000000

In [4]:
x = df[feature]
y = df.num 
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=0,test_size=0.2)
#df.head()
#clf = DecisionTreeClassifier(random_state=0)
clf=RandomForestClassifier(n_estimators=500)
clf.fit(x_train,y_train)

RandomForestClassifier(n_estimators=500)

In [5]:
pred = clf.predict(x_test)
accuracy_score(y_test,pred)

0.7666666666666667

In [6]:
X = df[feature]
Y = df.num 
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=0, test_size=0.2)
clf2=RandomForestClassifier(n_estimators=50)
clf2.fit(X_train,Y_train)

RandomForestClassifier(n_estimators=50)

In [7]:
pred2 = clf2.predict(X_test)
accuracy_score(Y_test,pred2)

0.8166666666666667

In [8]:
df = pd.read_csv('../housepricedata.csv')
df

,LotArea,OverallQual,OverallCond,TotalBsmtSF,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,GarageArea,AboveMedianPrice
0,8450,7,5,856,2,1,3,8,0,548,1
1,9600,6,8,1262,2,0,3,6,1,460,1
2,11250,7,5,920,2,1,3,6,1,608,1
3,9550,7,5,756,1,0,3,7,1,642,0
4,14260,8,5,1145,2,1,4,9,1,836,1
...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,6,5,953,2,1,3,7,1,460,1
1456,13175,6,6,1542,2,0,3,7,2,500,1
1457,9042,7,9,1152,2,0,4,9,2,252,1
1458,9717,5,6,1078,1,0,2,5,0,240,0
1459,9937,5,6,1256,1,1,3,6,0,276,0

In [9]:
dataset = df.values
dataset

array([[ 8450,     7,     5, ...,     0,   548,     1],
       [ 9600,     6,     8, ...,     1,   460,     1],
       [11250,     7,     5, ...,     1,   608,     1],
       ...,
       [ 9042,     7,     9, ...,     2,   252,     1],
       [ 9717,     5,     6, ...,     0,   240,     0],
       [ 9937,     5,     6, ...,     0,   276,     0]])

In [10]:
X = dataset[:,0:10]
y = dataset[:,10]

In [11]:
X_train3,X_test3,y_train3,y_test3 = train_test_split(X,y,random_state=0,test_size=0.2)
clf3 = RandomForestClassifier(n_estimators=500)
clf3.fit(X_train3,y_train3)

RandomForestClassifier(n_estimators=500)

In [12]:
pred3=clf3.predict(X_test3)
from sklearn.metrics import accuracy_score
accuracy_score(y_test3, pred3)

0.9383561643835616

In [13]:
X_train4,X_test4,y_train4,y_test4 = train_test_split(X,y,random_state=0,test_size=0.2)
clf4 = RandomForestClassifier(n_estimators=50)
clf4.fit(X_train4,y_train4)

RandomForestClassifier(n_estimators=50)

In [14]:
pred4=clf4.predict(X_test3)
from sklearn.metrics import accuracy_score
accuracy_score(y_test4, pred4)

0.928082191780822